@font-face {
  font-family: "WenKai";
  src: url("../WenKai.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    -webkit-tap-highlight-color: transparent;
    font-family: "WenKai", "Kaiti SC", "STKaiti", serif;
  }

  #root {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
  }
}
